UniCloud.Presentation.Service/Service References/Document/DocumentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.UniCloud.com" elementFormDefault="qualified" targetNamespace="http://www.UniCloud.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetDocumentTypeDataObjectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTypeDataObjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetDocumentTypeDataObjectListResult" nillable="true" type="q1:DocumentTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistDocumentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistDocumentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistDocumentTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitDocumentTypeDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="documentTypeData" nillable="true" type="q2:ResultDataDocumentTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitDocumentTypeDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitDocumentTypeDTOResult" nillable="true" type="q3:ResultDataDocumentTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaginationOfficialDocumentDataObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q4:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaginationOfficialDocumentDataObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetPaginationOfficialDocumentDataObjectResult" nillable="true" type="q5:OfficialDocumentDataObjectWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopOfficialDocumentDataObjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopOfficialDocumentDataObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetTopOfficialDocumentDataObjectsResult" nillable="true" type="q6:OfficialDocumentDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOfficialDocument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOfficialDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAllOfficialDocumentResult" nillable="true" type="q7:OfficialDocumentDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopDocumentDataObjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopDocumentDataObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetTopDocumentDataObjectsResult" nillable="true" type="q8:DocumentDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDataObjectByDocID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="docID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDataObjectByDocIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetDocumentDataObjectByDocIDResult" nillable="true" type="q10:DocumentDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopStandardDocumentDataObjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopStandardDocumentDataObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetTopStandardDocumentDataObjectsResult" nillable="true" type="q11:StandardDocumentDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStandardDocument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStandardDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAllStandardDocumentResult" nillable="true" type="q12:StandardDocumentDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaginationStandardDocumentDataObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q13:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaginationStandardDocumentDataObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetPaginationStandardDocumentDataObjectResult" nillable="true" type="q14:StandardDocumentDataObjectWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFileStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentID" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFileStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentFileStreamResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitStandardDocumentDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="standardDocumentData" nillable="true" type="q16:ResultDataStandardDocumentDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitStandardDocumentDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitStandardDocumentDTOResult" nillable="true" type="q17:ResultDataStandardDocumentDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitOfficialDocumentDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="officialDocumentData" nillable="true" type="q18:ResultDataOfficialDocumentDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitOfficialDocumentDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitOfficialDocumentDTOResult" nillable="true" type="q19:ResultDataOfficialDocumentDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContractDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="document" nillable="true" type="q20:DocumentDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContractDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddContractDTOResult" nillable="true" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>