UniCloud.Presentation.Service/Service References/Document/DocumentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd4" namespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" />
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ascending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Descending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOrder" nillable="true" type="tns:SortOrder" />
  <xs:complexType name="DocumentTypeDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypeDataObject" nillable="true" type="tns:DocumentTypeDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypeDataObjectList" nillable="true" type="tns:DocumentTypeDataObjectList" />
  <xs:complexType name="DocumentTypeDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypeDataObject" nillable="true" type="tns:DocumentTypeDataObject" />
  <xs:complexType name="FaultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultData" nillable="true" type="tns:FaultData" />
  <xs:complexType name="ResultDataDocumentTypeDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_DocumentTypeDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataDocumentTypeDataObject" nillable="true" type="tns:ResultDataDocumentTypeDataObject" />
  <xs:complexType name="ResultData_DocumentTypeDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultData_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DocumentTypeDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedCollection" nillable="true" type="tns:ArrayOfDocumentTypeDataObject" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeletedCollection" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSaved" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModefiedCollection" nillable="true" type="tns:ArrayOfDocumentTypeDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData_DocumentTypeDataObject" nillable="true" type="tns:ResultData_DocumentTypeDataObject" />
  <xs:complexType name="ArrayOfDocumentTypeDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypeDataObject" nillable="true" type="tns:DocumentTypeDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentTypeDataObject" nillable="true" type="tns:ArrayOfDocumentTypeDataObject" />
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilterDescriptors" nillable="true" type="tns:ColumnFilterDescriptorCollection" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SortDescriptors" nillable="true" type="tns:ColumnSortDescriptorCollection" />
      <xs:element minOccurs="0" name="TotalItemCounts" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagination" nillable="true" type="tns:Pagination" />
  <xs:complexType name="ColumnFilterDescriptorCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnFilterDescriptor" nillable="true" type="tns:ColumnFilterDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnFilterDescriptorCollection" nillable="true" type="tns:ColumnFilterDescriptorCollection" />
  <xs:complexType name="ColumnFilterDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistinctFilter" nillable="true" type="tns:DistinctFilterDescriptor" />
      <xs:element minOccurs="0" name="FieldFilter" nillable="true" type="tns:FieldFilterDescriptor" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" type="tns:LogicalOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnFilterDescriptor" nillable="true" type="tns:ColumnFilterDescriptor" />
  <xs:complexType name="DistinctFilterDescriptor">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DistinctValues" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Operator" type="tns:LogicalOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistinctFilterDescriptor" nillable="true" type="tns:DistinctFilterDescriptor" />
  <xs:simpleType name="LogicalOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogicalOperator" nillable="true" type="tns:LogicalOperator" />
  <xs:complexType name="FieldFilterDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filter1" nillable="true" type="tns:FilterDescriptorBase" />
      <xs:element minOccurs="0" name="Filter2" nillable="true" type="tns:FilterDescriptorBase" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Operator" type="tns:LogicalOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldFilterDescriptor" nillable="true" type="tns:FieldFilterDescriptor" />
  <xs:complexType name="FilterDescriptorBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompareOperator" type="tns:FilterCompareOperator" />
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCaseSensitive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterDescriptorBase" nillable="true" type="tns:FilterDescriptorBase" />
  <xs:simpleType name="FilterCompareOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IsLessThan" />
      <xs:enumeration value="IsLessThanOrEqualTo" />
      <xs:enumeration value="IsEqualTo" />
      <xs:enumeration value="IsNotEqualTo" />
      <xs:enumeration value="IsGreaterThanOrEqualTo" />
      <xs:enumeration value="IsGreaterThan" />
      <xs:enumeration value="StartsWith" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="DoesNotContain" />
      <xs:enumeration value="IsContainedIn" />
      <xs:enumeration value="IsNotContainedIn" />
      <xs:enumeration value="IsNull" />
      <xs:enumeration value="IsNotNull" />
      <xs:enumeration value="IsEmpty" />
      <xs:enumeration value="IsNotEmpty" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterCompareOperator" nillable="true" type="tns:FilterCompareOperator" />
  <xs:complexType name="ColumnSortDescriptorCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnSortDescriptor" nillable="true" type="tns:ColumnSortDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnSortDescriptorCollection" nillable="true" type="tns:ColumnSortDescriptorCollection" />
  <xs:complexType name="ColumnSortDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="SortOrder" type="tns:SortOrder" />
      <xs:element minOccurs="0" name="SortPredicate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnSortDescriptor" nillable="true" type="tns:ColumnSortDescriptor" />
  <xs:complexType name="OfficialDocumentDataObjectWithPagination">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataObjectListWithPagination_OfficialDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfficialDocumentDataObjectWithPagination" nillable="true" type="tns:OfficialDocumentDataObjectWithPagination" />
  <xs:complexType name="BaseDataObjectListWithPagination_OfficialDocumentDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseDataObjectListWithPagination_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OfficialDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="BaseDataObjectList" nillable="true" type="q3:BaseOfficialDocumentDataObjectList" />
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDataObjectListWithPagination_OfficialDocumentDataObject" nillable="true" type="tns:BaseDataObjectListWithPagination_OfficialDocumentDataObject" />
  <xs:complexType name="OfficialDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocumentDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DispatchDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ReferenceNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitID" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfficialDocumentDataObject" nillable="true" type="tns:OfficialDocumentDataObject" />
  <xs:complexType name="DocumentDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentFileStream" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocumentTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="DocumentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentDocument" nillable="true" type="tns:DocumentDataObject" />
      <xs:element minOccurs="0" name="ParentDocumentID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="SubDocuments" nillable="true" type="tns:DocumentDataObjectList" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uploader" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDataObject" nillable="true" type="tns:DocumentDataObject" />
  <xs:complexType name="DocumentDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentDataObject" nillable="true" type="tns:DocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDataObjectList" nillable="true" type="tns:DocumentDataObjectList" />
  <xs:complexType name="StandardDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StandardDocumentDataObject" nillable="true" type="tns:StandardDocumentDataObject" />
  <xs:complexType name="OfficialDocumentDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficialDocumentDataObject" nillable="true" type="tns:OfficialDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfficialDocumentDataObjectList" nillable="true" type="tns:OfficialDocumentDataObjectList" />
  <xs:complexType name="StandardDocumentDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardDocumentDataObject" nillable="true" type="tns:StandardDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardDocumentDataObjectList" nillable="true" type="tns:StandardDocumentDataObjectList" />
  <xs:complexType name="StandardDocumentDataObjectWithPagination">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataObjectListWithPagination_StandardDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StandardDocumentDataObjectWithPagination" nillable="true" type="tns:StandardDocumentDataObjectWithPagination" />
  <xs:complexType name="BaseDataObjectListWithPagination_StandardDocumentDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseDataObjectListWithPagination_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StandardDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="BaseDataObjectList" nillable="true" type="q4:BaseStandardDocumentDataObjectList" />
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDataObjectListWithPagination_StandardDocumentDataObject" nillable="true" type="tns:BaseDataObjectListWithPagination_StandardDocumentDataObject" />
  <xs:complexType name="ResultDataStandardDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_StandardDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataStandardDocumentDataObject" nillable="true" type="tns:ResultDataStandardDocumentDataObject" />
  <xs:complexType name="ResultData_StandardDocumentDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultData_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StandardDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedCollection" nillable="true" type="tns:ArrayOfStandardDocumentDataObject" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeletedCollection" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSaved" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModefiedCollection" nillable="true" type="tns:ArrayOfStandardDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData_StandardDocumentDataObject" nillable="true" type="tns:ResultData_StandardDocumentDataObject" />
  <xs:complexType name="ArrayOfStandardDocumentDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardDocumentDataObject" nillable="true" type="tns:StandardDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandardDocumentDataObject" nillable="true" type="tns:ArrayOfStandardDocumentDataObject" />
  <xs:complexType name="ResultDataOfficialDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_OfficialDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataOfficialDocumentDataObject" nillable="true" type="tns:ResultDataOfficialDocumentDataObject" />
  <xs:complexType name="ResultData_OfficialDocumentDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultData_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OfficialDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedCollection" nillable="true" type="tns:ArrayOfOfficialDocumentDataObject" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeletedCollection" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSaved" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModefiedCollection" nillable="true" type="tns:ArrayOfOfficialDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData_OfficialDocumentDataObject" nillable="true" type="tns:ResultData_OfficialDocumentDataObject" />
  <xs:complexType name="ArrayOfOfficialDocumentDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficialDocumentDataObject" nillable="true" type="tns:OfficialDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfficialDocumentDataObject" nillable="true" type="tns:ArrayOfOfficialDocumentDataObject" />
</xs:schema>