UniCloud.Presentation.Service/Service References/Document/DocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.UniCloud.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.UniCloud.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.UniCloud.com/Imports">
      <xsd:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd2" namespace="http://www.UniCloud.com" />
      <xsd:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
      <xsd:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd4" namespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_GetDocumentTypeDataObjectList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeDataObjectList" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentTypeDataObjectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeDataObjectListResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentTypeDataObjectList_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q1:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_ExistDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistDocumentType" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_ExistDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_ExistDocumentType_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q2:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitDocumentTypeDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitDocumentTypeDTO" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitDocumentTypeDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitDocumentTypeDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitDocumentTypeDTO_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q3:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetPaginationOfficialDocumentDataObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaginationOfficialDocumentDataObject" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetPaginationOfficialDocumentDataObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaginationOfficialDocumentDataObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetPaginationOfficialDocumentDataObject_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q4:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopOfficialDocumentDataObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopOfficialDocumentDataObjects" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopOfficialDocumentDataObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopOfficialDocumentDataObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopOfficialDocumentDataObjects_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q5:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetAllOfficialDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOfficialDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetAllOfficialDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOfficialDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetAllOfficialDocument_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q6:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopDocumentDataObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopDocumentDataObjects" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopDocumentDataObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopDocumentDataObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopDocumentDataObjects_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q7:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentDataObjectByDocID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDataObjectByDocID" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentDataObjectByDocID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDataObjectByDocIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentDataObjectByDocID_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q8:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopStandardDocumentDataObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopStandardDocumentDataObjects" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopStandardDocumentDataObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopStandardDocumentDataObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetTopStandardDocumentDataObjects_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q9:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetAllStandardDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStandardDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetAllStandardDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStandardDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetAllStandardDocument_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q10:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetPaginationStandardDocumentDataObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaginationStandardDocumentDataObject" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetPaginationStandardDocumentDataObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaginationStandardDocumentDataObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetPaginationStandardDocumentDataObject_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q11:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFileStream" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentFileStream_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q12:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitStandardDocumentDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitStandardDocumentDTO" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitStandardDocumentDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitStandardDocumentDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitStandardDocumentDTO_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q13:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitOfficialDocumentDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitOfficialDocumentDTO" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitOfficialDocumentDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitOfficialDocumentDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CommitOfficialDocumentDTO_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q14:FaultData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_AddContractDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContractDTO" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_AddContractDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContractDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_AddContractDTO_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="detail" element="q15:FaultData" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="GetDocumentTypeDataObjectList">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentTypeDataObjectList" message="tns:IDocumentService_GetDocumentTypeDataObjectList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentTypeDataObjectListResponse" message="tns:IDocumentService_GetDocumentTypeDataObjectList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentTypeDataObjectListFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetDocumentTypeDataObjectList_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistDocumentType">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/ExistDocumentType" message="tns:IDocumentService_ExistDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/ExistDocumentTypeResponse" message="tns:IDocumentService_ExistDocumentType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/ExistDocumentTypeFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_ExistDocumentType_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitDocumentTypeDTO">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitDocumentTypeDTO" message="tns:IDocumentService_CommitDocumentTypeDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitDocumentTypeDTOResponse" message="tns:IDocumentService_CommitDocumentTypeDTO_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitDocumentTypeDTOFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_CommitDocumentTypeDTO_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaginationOfficialDocumentDataObject">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetPaginationOfficialDocumentDataObject" message="tns:IDocumentService_GetPaginationOfficialDocumentDataObject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetPaginationOfficialDocumentDataObjectResponse" message="tns:IDocumentService_GetPaginationOfficialDocumentDataObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetPaginationOfficialDocumentDataObjectFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetPaginationOfficialDocumentDataObject_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopOfficialDocumentDataObjects">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopOfficialDocumentDataObjects" message="tns:IDocumentService_GetTopOfficialDocumentDataObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopOfficialDocumentDataObjectsResponse" message="tns:IDocumentService_GetTopOfficialDocumentDataObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopOfficialDocumentDataObjectsFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetTopOfficialDocumentDataObjects_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOfficialDocument">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetAllOfficialDocument" message="tns:IDocumentService_GetAllOfficialDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetAllOfficialDocumentResponse" message="tns:IDocumentService_GetAllOfficialDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetAllOfficialDocumentFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetAllOfficialDocument_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopDocumentDataObjects">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopDocumentDataObjects" message="tns:IDocumentService_GetTopDocumentDataObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopDocumentDataObjectsResponse" message="tns:IDocumentService_GetTopDocumentDataObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopDocumentDataObjectsFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetTopDocumentDataObjects_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDataObjectByDocID">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentDataObjectByDocID" message="tns:IDocumentService_GetDocumentDataObjectByDocID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentDataObjectByDocIDResponse" message="tns:IDocumentService_GetDocumentDataObjectByDocID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentDataObjectByDocIDFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetDocumentDataObjectByDocID_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopStandardDocumentDataObjects">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopStandardDocumentDataObjects" message="tns:IDocumentService_GetTopStandardDocumentDataObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopStandardDocumentDataObjectsResponse" message="tns:IDocumentService_GetTopStandardDocumentDataObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetTopStandardDocumentDataObjectsFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetTopStandardDocumentDataObjects_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStandardDocument">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetAllStandardDocument" message="tns:IDocumentService_GetAllStandardDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetAllStandardDocumentResponse" message="tns:IDocumentService_GetAllStandardDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetAllStandardDocumentFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetAllStandardDocument_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaginationStandardDocumentDataObject">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetPaginationStandardDocumentDataObject" message="tns:IDocumentService_GetPaginationStandardDocumentDataObject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetPaginationStandardDocumentDataObjectResponse" message="tns:IDocumentService_GetPaginationStandardDocumentDataObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetPaginationStandardDocumentDataObjectFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetPaginationStandardDocumentDataObject_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFileStream">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentFileStream" message="tns:IDocumentService_GetDocumentFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentFileStreamResponse" message="tns:IDocumentService_GetDocumentFileStream_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/GetDocumentFileStreamFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_GetDocumentFileStream_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitStandardDocumentDTO">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitStandardDocumentDTO" message="tns:IDocumentService_CommitStandardDocumentDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitStandardDocumentDTOResponse" message="tns:IDocumentService_CommitStandardDocumentDTO_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitStandardDocumentDTOFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_CommitStandardDocumentDTO_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitOfficialDocumentDTO">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitOfficialDocumentDTO" message="tns:IDocumentService_CommitOfficialDocumentDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitOfficialDocumentDTOResponse" message="tns:IDocumentService_CommitOfficialDocumentDTO_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/CommitOfficialDocumentDTOFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_CommitOfficialDocumentDTO_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContractDTO">
      <wsdl:input wsaw:Action="http://www.UniCloud.com/IDocumentService/AddContractDTO" message="tns:IDocumentService_AddContractDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://www.UniCloud.com/IDocumentService/AddContractDTOResponse" message="tns:IDocumentService_AddContractDTO_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.UniCloud.com/IDocumentService/AddContractDTOFaultDataFault" name="FaultDataFault" message="tns:IDocumentService_AddContractDTO_FaultDataFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>