UniCloud.Presentation.Service/Service References/Document/DocumentService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.UniCloud.com/CollectionDataObjectList.xsd" elementFormDefault="qualified" targetNamespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
  <xs:complexType name="BaseOfficialDocumentDataObjectList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Base{0}List" Namespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OfficialDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" maxOccurs="unbounded" name="BaseItem" nillable="true" type="q1:OfficialDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseOfficialDocumentDataObjectList" nillable="true" type="tns:BaseOfficialDocumentDataObjectList" />
  <xs:complexType name="BaseStandardDocumentDataObjectList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Base{0}List" Namespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StandardDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" maxOccurs="unbounded" name="BaseItem" nillable="true" type="q2:StandardDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseStandardDocumentDataObjectList" nillable="true" type="tns:BaseStandardDocumentDataObjectList" />
</xs:schema>